<li>
    {{id}}
    <p>  </p>
   <h1>{{burger_name}}</h1> 
    <p>   </p>
    {{#if devoured}}
    <button id="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">
        Devour! 
    </button>
    {{else}} That was Yummy!{{/if}}
    <p>   </p>
</li>